body {
  text-align: center;
  background-color: #eeeeee;
}

input {
  font-size: large;
}

form p {
  margin-bottom: 1em;
  margin-top: 0em;
}

#error {
  /*padding: .1em;*/
  border-radius: 5px;
  background-color: #FF3333;
  color: black;
}

#login_form {
  margin: 1em;
}

#login_form p {
  margin: none;
}
