<h2>Index</h2>

<ul>
<li>url: /</li>
<li>view: index</li>
<li>paramaters: none</li>
<li>return: index.html</li>
</ul>

<h2>Data Routes</h2>

<ul>
<li>url: /blogs</li>
<li>view: blogs</li>
<li>parameters: none</li>
<li><p>returns: all of the blogs in the database</p></li>
<li><p>url: /posts </p></li>
<li>view: posts</li>
<li>parameters:
<ul>
<li>startDate: get posts after the given date</li>
<li>endDate: get posts before the given date</li>
<li>author: get posts with the given author</li>
<li>blog_id: get posts for the blog with the given id</li>
<li>tags: get posts with the given tags - impletment later</li>
</ul></li>
</ul>
