<!doctype html>
<html>
<head>
  <title> Leaky Roof Media - Login </title>
  <link rel="stylesheet" type="text/css" href="/static/css/columnal.css">
  <link rel="stylesheet" type="text/css" href="/static/css/build.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col_6 pre_3 suf_3 last" id="title">
        <h1>Login to Leaky Roof Media</h1>
      </div>
    </div>
    <div class="row">
      <div class="col_6 pre_3 suf_3">
        {% if login_failed %}
        <div id="error">
          Your login information was incorrect.
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col_6 pre_3 suf_3 last">
        <form method="Post" action="{% url accounts.views.login%}" id="login_form">
          {% csrf_token %}
          <p>
            <input type="text" placeholder="Username" id="userNameField" name="userNameField" />
          </p>
          <p>
            <input type="password" placeholder="Password" id="passwordField" name="passwordField" />
          </p>
          <input type="hidden" value="{{ next }}" name="nextField" / >
          <input type="submit" value="Log In" />
        </form>
      </div>
    </div>
  </div>
</body>
</html>
