<!doctype html>
<html>
<head>
  <title> Leaky Roof Media - Account Settings</title>
</head>
<body>
  <div>
    <h1 > Account Settings </h1>
  </div>
  <div>
    <form method="Post" action="{% url accounts.views.settings %}">
      {% csrf_token %}
      <label for="firstNameField">First Name: </label>
      <input type="text" id="firstNameField" name="firstNameField" />
      <br/>
      <label for="lastNameField">Last Name: </label>
      <input type="text" id="lastNameField" name="lastNameField" />
      <br/>
      <label for="emailField">Email: </label>
      <input type="email" id="emailField" name="emailField" />
      <br/>
      <label for="currentPasswordField">Current Password: </label>
      <input type="password" id="currentPasswordField" name="currentPasswordField" />
      <br/>
      <label for="newPasswordField">New Password: </label>
      <input type="password" id="newPaswordField" name="newPasswordField" />
      <br/>
      <label for="confirmNewPasswordField">Retype New Password: </label>
      <input type="password" id="confirmNewPasswordField" name="confirmNewPasswordField" />
      <br/>
      <input type="submit" value="Save Changes" />
    </form>
  </div>
</body>
</html>
