<!doctype hmtl>
<html>
<head>
  <title>Leaky Roof Media - Signup</title>
  <link rel="stylesheet" type="text/css" href="/static/css/columnal.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/validation.js"></script>
  <script type="text/javascript" src="/static/js/signup.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col_12">
        <h1> Sign Up </h1>
      </div>
    </div>
    <div class="row">
      <form method="Post" action="{% url accounts.views.signup %}" class="col_12">
        {% csrf_token %}
        <div class="field">
          <label for="userNameField">User Name: </label>
          <input type="text" id="userNameField" name="userNameField"/>
          <span class="error">Please enter a valid username.</span>
        </div>
        <div class="field">
          <label for="emailField">Email: </label>
          <input type="email" id="emailField" name="emailField"/>
          <span class="error">Please enter a valid email.</span>
        </div>
        <div class="field">
          <label for="passwordField">Password: </label>
          <input type="password" id="passwordField" name="passwordField"/>
          <span class="error">Please enter a valid email.</span>
        </div>
        <div class="field">
          <label for="confirmPasswordField">Retype Password: </label>
          <input type="password" id="confirmPasswordField" name="confirmPasswordField"/>
          <span class="error">Your passwords don't match.</span>
        </div>
          <input type="submit" id="signUpButton" value="Sign Up">
      </form>
    </div>
  </div>
</body>
</html>
