/*
_______________________________
Desktop version layout - place your custom code here */

body {
  background-color: #eeeeee;
}

a {
  color: #729FCF;
}

a:visited {
  color: #729FCF;
}

nav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  padding: 0px;
  display: inline-block;
}

nav .first {
  margin-left: 0px;
}

#content {
  min-height: 30em;
}

#content h2 {
  margin: .25em;
}

#content p {
  margin: .25em;
}

#footer {
  font-size: small;
}

.account {
  color: gray;
  font-size: small;
  float: right;
}

#header h1{
}

#account {
  text-align: right;
  font-size: small;
  color: gray;
  margin-top: 32px;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}

/*  #header {
    text-align: center;
  }*/

  h1,h2 {
    text-align: center;
  }

  nav {
    text-align: center;
  }

  nav li{
    margin: 0px;
  }


  a {
    display: inline-block;
    background-color: #dddddd;
    padding: .33em;
    border-radius: 5px;
  }

  h2 a {
    display: inline;
    background-color: #eeeeee;
    padding: auto;
    border-bottom: 0em;
  }
	
}



/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}
