/*
_______________________________
Desktop version layout - place your custom code here */

#sidebar {
  display: none;
}
/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

  .examplecontainer {}

  body {}
  
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

  /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
  .download {
  background: url(../img/downarrow@2x.png) no-repeat;
  background-size: 27px 28px;
  }
  */

}
