#sidebar .panel {
  margin: .5em;
}

#sidebar .panel h4 {
  margin: 0em;
  font-size: large;
}

#sidebar .panel h4 a {
  color: #444;
}

#sidebar .panel ul {
  list-style: none;
}

#sidebar .panel li {
  margin-left: .25em;
}

#sidebar .panel li a {
  font-size: medium;
}
