.field {
  padding: .5em 0;
}

.error {
  padding: .3em;
  border-radius: 5px;
  background-color: #FF3333;
  color: black;
  display: none;
  opacity: 0;
}

.visible {
  display: inline;
  opacity: 1;
}

.field .input {
  font-size: large;
}

#signUpButton {
  font-size: large;
/*  background-color: gray;
  border: solid black 1px;
  border-radius: 10px;*/
}
