{% extends 'base.html' %}

{% block title %} Blogs Control Panel {% endblock %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/control_panel.css">
{% endblock%}

{% block page_scripts %}
<script type="text/javascript" src="/static/js/control_panel.js"></script>
{% endblock %}

{% block main %}
<div id="main" class="col_12">
  <div id="cp_toolbar">
    <input type="button" value="New Blog" data-bind="click: createBlog"/>
  </div>
  <ul data-bind="foreach: blogs">
    <li>
        <div>
          <h3 style="display: inline" data-bind="text: name"></h3>
          <button data-bind="click: showNewPostForm"> New Post </button>
          <form id="newPostForm" action="control_panel/new_post" method="post" data-bind="visible: newPostFormVisible">
            <label for="newPostNameField">Name: </label>
            <input type="text" id="newPostNameField" name="title" data-bind="value: newPostName" />
            <input type="hidden" name="blog_url" data-bind="value: url"/>
            <input type="hidden" name="post_url" data-bind="value: post_url"/>
            {% csrf_token %}
            <input type="submit" value="Create Post">
            <input type="button" value="Cancel" data-bind="click: hideNewPostForm">
          </form>
        </div>
        <div>
          <span data-bind="text: prettyDate"></span>
        </div>
        <div class="blog_posts">
            <ul class="post_list" data-bind="foreach: posts">
              <li><a data-bind="text: title, attr: {href: editor_url}"></a></li>
            </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}

