{%  extends 'base.html' %}

{% block title %} Blogs {% endblock %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="/static/css/global.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bloghome.css">
  <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="/static/js/blogs.js"></script>
{% endblock %}

{% block main %}
<div class="col_9" id="main">
  {% if isStaff %}
  <div id="toolbar">
    <a href="control_panel">Control Panel</a>
  </div>
  {% endif %}
  <div data-bind="foreach: visiblePosts">
    <div class="sample">
      <h2 data-bind="text: title"></h2>
      <p class='pub_info'>
      Written by <span data-bind="text: author"></span> - <span data-bind="text: prettyDate"></span></p>
      <p data-bind="html: sample"></p>
      <a data-bind="attr: {href: full_url}">Read More</a>
    </div>
  </div>
</div>
<div id='sidebar' class='col_3 last mobile-hide'>
  <div class="panel">
    <h4>Blogs</h4>
    <ul>
      <li><a href="" data-bind="click: $root.showAllPosts">All</a></li>
      <!-- ko foreach: blogs -->
        <li><a data-bind="text: name, click: $root.filterByBlog" href="" style="cursor: pointer"></a></li>
      <!-- /ko -->
    </ul>
  </div>
</div>
{% endblock %}

