{% extends 'base.html' %}

{% block page_styles %}
<link rel="stylesheet" type="text/css" href="/static/css/blogpost.css">
<link rel="stylesheet" type="text/css" href="/static/css/global.css">
<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  var blog_url = "{{ blog_url }}";
  var post_url = "{{ post_url }}";
</script>
<script type="text/javascript" src="/static/js/post.js"></script>
{% endblock %}

{% block title %}
  {{blog_name}} - {{post_title}}
{% endblock %}

{% block main %}
<!--   <div id="breadcrumbs"  class="col_12">
    <a class="crumb" href="{% url LeakyRoofMedia.views.home %}"> Home </a>
    :
    <a class="crumb" href="{% url blogs.views.index %}"> Blogs </a>
    :
    <a class="crumb" href="{% url blogs.views.blog blog_name='a_blog' %}"> A Blog </a>
    :
    <span class="crumb">A Blog Post</span>
  </div> -->
  <div class='col_12' id='post'>
    <h2 data-bind="html: title"></h2>
    <p class='pub_info'>
      Written by <span data-bind="text: author"></span> - <span data-bind="text: prettyDate"></span></p>
    <p data-bind="html: content">
    </p>
<!--     <div id='comments'>
      <h2> Comments </h2>
      <div class='comment'>
        <h3>Commenter</h3>
        <p>
          This is a comment
        </p>
      </div>
      <div class='comment'>
        <h3>Commenter2</h3>
        <p>
          This is another comment
        </p>
      </div>
      <hr/>
      <div id="postComment">
        <h3>Post a comment</h3>
        <form>
          <textarea id="commentField">

          </textarea>
          <br/>
          <input type="submit" value="Post Comment" id="postCommentButton"/>
        </form>
      </div>
    </div> -->
  </div>
<!--   <div class='col_3 last mobile-hide' id='sidebar'>
    <div class='panel'>
      <h4> Posts</h4>
      <ul id='otherPosts'>
        <li><a href="#">The Previous Post</a></li>
        <li><a href="#">The One Before That</a></li>
      </ul>
    </div>
  </div> -->
{% endblock %}
