{% extends 'base.html' %}


{% block page_styles %}
<style type="text/css">
  h2 {
    text-align: center;
  }

  #post_options {
    text-align: right;
  }

  #editor {
    width: 100%;
    max-width: 100%;

    height: 30em;
  }

  #publish_options {
    display: inline-block;
    text-align: left
  }
  #publish_options label {
    font-size: small;
  }
</style>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.simple-dtpicker.css"/>
{% endblock %}

{% block title%}
{% if blog_name and post_title %}
  {{blog_name}} - {{post_title}} 
{% else %}
  New Post
{% endif %}
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  var blog_url = "{{ blog_url }}";
  var post_url = "{{ url }}";
</script>
<script type="text/javascript" src="/static/js/jquery.simple-dtpicker.js"></script>
<script type="text/javascript" src="/static/js/post_editor.js"></script>
{% endblock %}

{% block main %}
<div id="main" class="col_12">
  <h2 id="post_title" data-bind="html: title"></h2>
  <div id="post_options" class="col_10 pre_1 post_1">
    <span id="status"></span>
    <input type="button" value="Publish" data-bind="click: publish"/>
<!--     <div id="publish_options">
      <label for="pub_now_opt">Published Now:</label><input name="opt" type="radio" id="pub_now_opt" data-bind="checked: publishNow">
      <br/>
      <label for="pub_later_opt">Publish On:</label><input name="opt" type="radio" id="pub_later_opt" data-bind="checked: publishLater" checked=true>
      <input type="datetime" id="pub_later_date" placeholder="mm/dd/yy hh:mm" data-bind="value: rawPubDate" checked=false />
    </div> -->
    <input type="button" value="Save" data-bind="click: save"/>
  </div>
  <div class="col_10 pre_1 post_1">
    <textarea id="editor" data-bind="value: content"></textarea>
  </div>
</div>
{% endblock %}
