body, html {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#wrapper {
  width: 80%;
  min-width: 40rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-left: solid black 1px;
  border-right: solid black 1px; 
}

#header {
}

#header h1 {
  font-size: 2.5rem;
  margin: 0rem;
  padding: .25rem;
}

#nav {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  width: 100%;
}

#nav .nav_item {
  display: inline-block;
  margin: 0;
  padding: .25rem;
}

#nav .nav_item a {
  color: black;
  font-size: 1rem;
}

#content {
  overflow: hidden;
}

#main {
  width: 80%;
  float: right;
  display: inline;
  background-color: red;
}

#sidebar {
  width: 20%;
  float: left;
  display: inline;
  background-color: green;
}

#footer {
  background-color: yellow;
}

#footer h6{
  margin: 0;
  padding: .25rem;
}
