/*
_______________________________
Desktop version layout - place your custom code here */

body {
  background-color: #eeeeee;
}

a {
  color: #729FCF;
}

a:visited {
  color: #729FCF;
}

ul.nav {
  list-style: none;
  margin: 0px;
}

ul.nav li {
  display: inline-block;
}

ul.nav li.first {
  margin-left: 0px;
}

#content {
  min-height: 20em;
}

#content h2 {
  margin: .25em;
}

#content p {
  margin: .25em;
}

#footer {
  font-size: small;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

  .examplecontainer {}

  body {}

/*  #header {
    text-align: center;
  }*/

  h1,h2 {
    text-align: center;
  }

  ul.nav {
    text-align: center;
  }

  ul.nav li {
    margin-left: 0px;
  }

  ul.nav li a {
    display: inline-block;
    background-color: #dddddd;
    padding: .5em;
    border-radius: 5px;
  }
  
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

  /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
  .download {
  background: url(../img/downarrow@2x.png) no-repeat;
  background-size: 27px 28px;
  }
  */

}
