<!doctype html>
<html>
<head>
  <title>Leaky Roof Media - {%block title %}{% endblock %}</title>
  <!-- <link rel="stylesheet" type="text/css" href="static/style.css"/> -->

  <link rel="stylesheet" type="text/css" href="/static/css/columnal.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="screen">
  {% block page_styles %}{% endblock %}

  <script type="text/javascript" src='/static/js/jquery.js'></script>
  <script type="text/javascript" src="/static/js/sammy/sammy.js"></script>
  <script type="text/javascript" src="/static/js/knockout.js"></script>
  <script type="text/javascript" src="/static/js/underscore.js"></script>
  <script type="text/javascript">
    if( !window.sessionStorage["loggedin"])
      window.sessionStorage["loggedin"] = "{{ loggedin }}";
    if( !window.sessionStorage["username"])
      window.sessionStorage["username"] = "{{ username }}";
    if( !window.sessionStorage["isStaff"])
      window.sessionStorage["isStaff"] = "{{ isStaff }}";
  </script>
  {% block page_scripts %}{% endblock %}
</head>
<body>
  <div class="container">
    <div class="row" id="header">
      <div class="col_12">
        <h1 class="col_8">Leaky Roof Media</h1>
        <div id="account" class="col_4 last mobile-hide">
        {% if loggedin %}
          {{ username }} | 
          <a href="{% url accounts.views.settings %}">Settings</a> | 
          <a href="{% url accounts.views.logout %}">Log Out</a>
          {% if isStaff %}
            | <a href="{% url admin:index %}">Admin</a>
          {% endif %}
        {% else %}
          <a href="{% url accounts.views.login %}?next={{ request.path }}">Log In</a> |
          <a href="{% url accounts.views.signup %}"> Sign Up </a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col_12">
        <nav>
          <ul>
            <li class="first"><a href="{% url LeakyRoofMedia.views.home%}">Home</a></li>
            <li><a href="{% url blogs.views.index %}">Blogs</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#" class="mobile-only">Account</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row" id="content">
      {% block main %}

      {% endblock %}
    </div>
    <div class="row" id="footer">
      <div class="col_12">
        Footer
      </div>
    </div>
  </div>
</body>
</html>
