{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block page_styles %}
  <link rel="stylesheet" type="text/css" href="static/css/global.css">
  <link rel="stylesheet" type="text/css" href="static/css/home.css">
{% endblock %}

{% block main %}
<div id='main' class='col_12'>
  <div id='summaries'>
    <div class='summary row'>
      <div class="col_12">
        <h2>A Blog Recent Post</h2>
      </div>
      <p class='pub_info col_12'>Written by joshuakinkade - 01/13/13 9:57 AM</p>
      <p class='col_12'>
        For an android with no feelings, he sure managed to evoke them in others. Congratulations - you just destroyed the Enterprise. The unexpected is our normal routine. I'd like to think that I haven't changed those things, sir. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. I guess it's better to be lucky than good. A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. Ensign Babyface!
      </p>
      <div class='link col_12'>
        <a href='blogs/#/a_blog'> Read More </a>
      </div>
    </div>
    <div class='summary row'>
      <div class="col_12">
        <h2>A Recent Video</h2>
      </div>
      <p class="pub_info col_12">
        01/21/13 8:19 AM
      </p>
      <div class='col_7'>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/vrQtXja3ql8" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class='col_5 last'>
        I suggest you drop it, Mr. Data. In all trust, there is the possibility for betrayal. Captain, why are we out here chasing comets? I'd like to think that I haven't changed those things, sir. Fate. It protects fools, little children, and ships named "Enterprise." You enjoyed that. We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. When has justice ever been as simple as a rule book? I'll be sure to note that in my log.
      </div>
      <div class='link col_12'>
        <a href="#"> Read More</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
