/*
_______________________________
Desktop version layout - place your custom code here */
/*
Summary Box Styles
*/
.summary {
  border-bottom: solid gray 1px;
  padding: .25em;
}

.summary .pub_info {
  color: gray;
  font-size: small;
  font-style: italic;
}

.summary h2 a {
  color: #444;
  font-size: small;
}

.summary h2 a {
  font-size: x-large;
}

.link {
  margin-top: 0em;
  margin-bottom: 0em;
}

/*
Breadcrumb Styles
*/

#breadcrumbs {
  font-size: small;
  font-family: Helvetica, Arial, Sans-serif
}

#breadcrumbs .crumb {
  display: inline-block;
  margin-left: .5em;
  font-size: small;
}

/*
Comment Styles
*/

#comments {
  padding-bottom: 1em;
}

#comments .comment {
  margin: .5em;
}

#comments .comment h3 {
  margin: 0em;
  margin-left: .25em;
  font-size: large;
}

#comments .comment p {
  text-align: left;
  margin: 0em;
  margin-left: .25em;
}

#commentField {
  margin-left: .5em;
  width: 50%;
  max-width: 100%;
}

#postCommentButton {
  margin-left: .5em;
}

#sidebar .panel {
  margin: .5em;
}

#sidebar .panel h4 {
  margin: 0em;
  font-size: large;
}

#sidebar .panel h4 a {
  color: #444;
}

#sidebar .panel ul {
  list-style: none;
}

#sidebar .panel li {
  margin-left: .25em;
}

#sidebar .panel li a {
  font-size: medium;
}


/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

  .blog_summary .link {
    text-align: center;
  }

  .link {
    text-align: center;
  }

  .pub_info {
    text-align: center;
  }

  #comments {
    text-align: center;
  }

  #commentField {
    width: 100%;
  }
  
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

  /* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
  .download {
  background: url(../img/downarrow@2x.png) no-repeat;
  background-size: 27px 28px;
  }
  */

}
